@import "tailwindcss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  background-color: #111827;
}